<div class="dartboard">
  <div class="outerRing"></div>
  <div class="numbersTop p11">11</div>
  <div class="numbersTop p14">14</div>
  <div class="numbersTop p9">9</div>
  <div class="numbersTop p12">12</div>
  <div class="numbersTop p5">5</div>
  <div class="numbersTop p20">20</div>
  <div class="numbersTop p1">1</div>
  <div class="numbersTop p18">18</div>
  <div class="numbersTop p4">4</div>
  <div class="numbersTop p13">13</div>
  <div class="numbersTop p6">6</div>
  <div class="numbersBottom p8">8</div>
  <div class="numbersBottom p16">16</div>
  <div class="numbersBottom p7">7</div>
  <div class="numbersBottom p19">19</div>
  <div class="numbersBottom p3">3</div>
  <div class="numbersBottom p17">17</div>
  <div class="numbersBottom p2">2</div>
  <div class="numbersBottom p15">15</div>
  <div class="numbersBottom p10">10</div>
  <div class="ringOne">
    <b class="b1"><span></span></b>
    <b class="b2"><span></span></b>
    <b class="b3"><span></span></b>
    <b class="b4"><span></span></b>
    <b class="b5"><span></span></b>
    <b class="b6"><span></span></b>
    <b class="b7"><span></span></b>
    <b class="b8"><span></span></b>
    <b class="b9"><span></span></b>
    <b class="b10"><span></span></b>
  </div>
  <div class="ringTwo">
    <b class="b1"><span></span></b>
    <b class="b2"><span></span></b>
    <b class="b3"><span></span></b>
    <b class="b4"><span></span></b>
    <b class="b5"><span></span></b>
    <b class="b6"><span></span></b>
    <b class="b7"><span></span></b>
    <b class="b8"><span></span></b>
    <b class="b9"><span></span></b>
    <b class="b10"><span></span></b>
  </div>
  <div class="ringThree">
    <b class="b1"><span></span></b>
    <b class="b2"><span></span></b>
    <b class="b3"><span></span></b>
    <b class="b4"><span></span></b>
    <b class="b5"><span></span></b>
    <b class="b6"><span></span></b>
    <b class="b7"><span></span></b>
    <b class="b8"><span></span></b>
    <b class="b9"><span></span></b>
    <b class="b10"><span></span></b>
  </div>
  <div class="ringFour">
    <b class="b1"><span></span></b>
    <b class="b2"><span></span></b>
    <b class="b3"><span></span></b>
    <b class="b4"><span></span></b>
    <b class="b5"><span></span></b>
    <b class="b6"><span></span></b>
    <b class="b7"><span></span></b>
    <b class="b8"><span></span></b>
    <b class="b9"><span></span></b>
    <b class="b10"><span></span></b>
  </div>
  <div class="ringFive"></div>
  <div class="ringSix"></div>
  <div class="ringSeven">
    <b class="x1"></b>
    <b class="x2"></b>
    <b class="x3"></b>
    <b class="x4"></b>
    <b class="x5"></b>
    <b class="x6"></b>
    <b class="x7"></b>
    <b class="x8"></b>
    <b class="x9"></b>
    <b class="x10"></b>
    <b class="x11"></b>
    <b class="x12"></b>
    <b class="x13"></b>
    <b class="x14"></b>
    <b class="x15"></b>
    <b class="x16"></b>
    <b class="x17"></b>
    <b class="x18"></b>
    <b class="x19"></b>
    <b class="x20"></b>
  </div>
</div>
